{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<div style="margin:50px; background-color:white; width: 900px; height: 700px;">
    {% for post in posts.results %}
        {{ include ('partials/_post.html.twig', {'post': post}) }}
    {% endfor %}
    {% if (app.request.attributes.get('_route') == 'blog') %}
        {% if posts.hasToPaginate %}
        <div class="text-left">
            <ul class="pagination">
                {% if posts.hasPreviousPage %}
                    <li class="prev"><a href="{{ path('blog', {page: posts.previousPage}) }}" rel="previous"><i class="fa fw fa-long-arrow-left"></i> Previous</a></li>
                {% else %}
                    <li class="prev disabled"><span><i class="fa fw fa-arrow-left"></i> Previous </span></li>
                {% endif %}

                {% for i in 1..posts.lastPage %}
                    {% if i == posts.currentPage %}
                        <li class="active"><span>{{ i }}</span></li>
                    {% else %}
                        <li><a href="{{ path('blog', {page: i}) }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if posts.hasNextPage %}
                    <li class="next"><a href="{{ path('blog', {page: posts.nextPage}) }}" rel="next">Next <i class="fa fw fa-arrow-right"></i></a></li>
                {% else %}
                    <li class="next disabled"><span>Next <i class="fa fw fa-arrow-right"></i></span></li>
                {% endif %}
            </ul>
        {% endif %}
        </div>
    {% endif %}

</div>
<form class="" action='{{ path('blog_buscar') }}'>
    <input type="text" class="form-control" style="display:unset; width:85%" placeholder="Research" name='searchTerm'>
    <button type='submit' class="btn btn-primary btn-danger"><i class="fa fa-search"></i>
    </button>
</form>
{% endblock %}
