{% extends 'base.html.twig' %} 

{% block title %}Images{% endblock %}

{% block body %}
<!-- Principal Content Start -->
   <div id="images">
   	  <div class="container">
   	    <div class="col-xs-12 col-sm-8 col-sm-push-2">
       	   <h1>Images</h1>
			 {{ form(form, {'attr': {'class':'form-horizontal'}}) }}
       	   <hr class="divider">s
			
		   <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
						<th scope="col">Nombre</th>
                        <th scope="col">File</th>
                        <th scope="col">View</th>
                        <th scope="col">Likes</th>
                        <th scope="col">Category</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for image in images %}
                    <tr>
                        <th scope="row">{{ image.id }}</th>
                        <td>
                            <img src="{{ asset('images/index/gallery/' ~ image.ciudad) }}">
                        </td>
						<td scope="row">{{ image.nombre}}</td>
                        <td scope="row">{{ image.views }}</td>
                        <td scope="row">{{ image.likes }}</td>
                        <td scope="row">{{ image.downloads }}</td>
                        <td scope="row">{{ image.pais.name }}</td>
                    </tr>
                    {% endfor %}
		        </tbody>
	        </table>
        </div>
        </div>   
    </div>
</div>
<!-- Principal Content Start -->
{% endblock %}