<div class="col-md-4 text-center animate-box">
    <div class="product">
        <div class="product-grid" style="background-image:url({{'images/' ~ products.photo}}) ;">
            <div class="inner">
                <p>
                    <a class="btn btn-primary py-2 px-3 open-cart-modal" data-id="{{products.id}}"><i class="icon-shopping-cart"></i></a>
                    <a class="btn btn-primary py-2 px-3 open-info-product" data-id="{{products.id}}"><i class="icon-eye"></i></a>
                </p>
            </div>
        </div>
        <div class="desc">
            <h3><a href="single.html">{{ products.name }}</a></h3>
            <span class="price">{{ products.price }}€</span>
        </div>
    </div>
</div>